{% extends '../base.html' %}
{% load static %}

{% block content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">                        
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Ajouter Clients</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">Clients</li>
                            <li class="breadcrumb-item active">Ajouter</li>
                        </ul>
                    </div>            
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-12">
                    <div class="card">
                        <div class="body">
                            <form action="{% url 'addClient' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="row clearfix">
                                            
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" name='first_name' class="form-control" placeholder="First Name *" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" name='last_name' class="form-control" placeholder="Last Name *" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" name='email' class="form-control" placeholder="Email *" required>
                                                </div>
                                            </div>    
                                            <div class="col-md-3 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" name='phone_number' class="form-control" placeholder="Mobile No">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" name='adress' class="form-control" placeholder="Address">
                                                </div>
                                            </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}