{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/vendor/sweetalert/sweetalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css' %}">

{% endblock css %}


{% block content %}

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">                        
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Liste Factures</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">Accounts</li>
                            <li class="breadcrumb-item active">Liste Factures</li>
                        </ul>
                    </div>            
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="body project_report">
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-custom m-b-0">
                                    <thead>
                                        <tr>                                            
                                            <th>Invoice Number</th>
                                            {% comment %} <th>Date Due</th> {% endcomment %}
                                            <th>Clients</th>
                                            <th>Formule</th>
                                            <th>Type</th>
                                            <th>Montant</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in invoices %}

                                            <tr>
                                                <td class="project-title">
                                                    <h6>#{{i.invoice_number}}</h6>
                                                    <small>Created {{i.date_created|date:'d-m-Y'}}</small>
                                                </td>
                                                {% comment %} <td>{{i.due_date|date:'d-m-Y'}}</td> {% endcomment %}
                                                <td>{{i.client.full_name}}</td>
                                                <td>{{i.formule}}</td>
                                                <td>{{i.types}}</td>
                                                <td>{{i.montant}}</td>
                                                <td><span class="badge {% if i.status == 'PAID'%} badge-success {% elif i.status == 'AVOIR'%} badge-warning {% elif i.status == 'NOTPAID'%} badge-danger{%endif%}">{{i.status}}</span></td>
                                                <td class="project-actions">
                                                    <a href="{% url 'pdf_view' i.pk %}" class="btn btn-sm btn-outline-primary"><i class="icon-eye"></i></a>
                                                    <a href="{% url 'update_invoice' i.pk %}" class="btn btn-sm btn-outline-success"><i class="icon-pencil"></i></a>
                                                    <a href="{% url 'delete_invoice' i.pk %}" class="btn btn-sm btn-outline-danger"><i class="icon-trash"></i></a>
                                                    <a href="{% url 'pdf_download' i.pk %}" class="btn btn-sm btn-outline-danger" title="Download" ><i class="fa fa-download"></i></a>
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
{%endblock%}
<!-- Javascript -->
{% block javascript %}
<script src="{% static 'light/assets/bundles/datatablescripts.bundle.js' %}"></script>
<script src="{% static 'assets/vendor/sweetalert/sweetalert.min.js' %}"></script> <!-- SweetAlert Plugin Js --> 

<script src="{% static 'light/assets/js/pages/tables/jquery-datatable.js' %}"></script>
<script src="{% static 'light/assets/js/pages/ui/dialogs.js' %}"></script>
{% endblock javascript %}
