{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Employee List</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item"> Facture</li>
                            <li class="breadcrumb-item active">Creer Facture</li>
                        </ul>
                    </div>            
                </div>
            </div>

                    <form action='' method="POST">
                        {% csrf_token %}

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group">                               
                                    {{form.client|as_crispy_field}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">     
                                    {{ form.types|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">                                   
                                    {{ form.formule|as_crispy_field }}
                                </div>
                            </div>    
                            {% comment %} <div class="col-6">
                                <div class="form-group">  
                                    {{ form.due_date|as_crispy_field }}
                                </div>
                            </div>     {% endcomment %}

                            <div class="col-md-12">
                                <div class="form-group">                                   
                                    {{ form.status|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">  
                                    {{form.description|as_crispy_field }}                                  
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>       
                    </form>

        </div>
    </div>
    

{% endblock content %}

{% block javascript %}
{%endblock%}
